<div class="container">
  <footer class="row row-cols-5 pt-5 mt-5 mb-2 pb-2 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img class="mb-4" src="../static/images/c.png" alt="" width="60" height="60">
      </a>
      <p class="text-muted">© 2024</p>
    </div>

    <div class="col"></div>

    <div class="col">
      <h5>Industries</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/it" class="nav-link p-0 text-muted">IT</a></li>
        <li class="nav-item mb-2"><a href="/healthcare" class="nav-link p-0 text-muted">Healthcare</a></li>
        <li class="nav-item mb-2"><a href="/education" class="nav-link p-0 text-muted">Education</a></li>
        <li class="nav-item mb-2"><a href="/engineering" class="nav-link p-0 text-muted">Engineering</a></li>
        <li class="nav-item mb-2"><a href="/finance" class="nav-link p-0 text-muted">Finance</a></li>
        <li class="nav-item mb-2"><a href="/art-media" class="nav-link p-0 text-muted">Art-media</a></li>
        <li class="nav-item mb-2"><a href="/tourism" class="nav-link p-0 text-muted">Tourism</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Career</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Git Hub</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Report</a></li>
      </ul>
    </div>
  </footer>
</div>