{% extends 'index.html' %}
{% block head %}
<title>AWS</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4 d-inline-block w-25">
        <img class="w-100 m-5" src="../static/images/aws.png" alt="AWS">
    </div>
    <div class="col-1"></div>
    <div class="col-7 mt-5">
        <h2>AWS Cloud Engineer - Join Our Tech Team at ABC Solutions</h2>
        <br>
        <button class="btn btn-success ">Apply on Company Website </button>
        <br><br>
        <div class="row">
            <div class="col-3">
                <p class="text-primary p-1">Paris, France</p>
                <p class="text-primary p-1">Full time</p>
            </div>
            <div class="col-4">
                <p class="text-success p-1">Employment term:</p>
                <p class="text-success p-1">Permanent</p>
            </div>
            <div class="col-4">
                <p class="text-info p-1">Category:</p>
                <p class="text-info p-1">IT</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="content">
    <h4>Job Description:</h4>
    <p>
    <h5>Role Overview:</h5>

    Responsible for designing, deploying, and managing cloud-based infrastructure using Amazon Web Services (AWS).
    Support ABC Solutions' rapidly growing client base with scalable cloud solutions.
    <br><br>
    <h5>Key Responsibilities:</h5>

    Design and manage AWS infrastructure with services like EC2, S3, RDS, Lambda, and VPC.
    Collaborate with developers, DevOps engineers, and IT professionals to implement best practices for cloud solutions.
    Ensure high availability, scalability, and performance across services.
    Troubleshoot complex cloud infrastructure issues and optimize cloud performance.
    Automate deployment processes to improve efficiency and speed.
    Ensure cloud-based systems comply with relevant security standards and regulatory requirements.
    Continuously evaluate new AWS features and services to enhance cloud offerings.
    <br><br>
    <h5>Qualifications and Skills:</h5>


    Strong experience with AWS services (EC2, S3, RDS, Lambda, VPC, etc.).
    Solid understanding of cloud architecture, automation, and security practices.
    Proactive problem-solving abilities.
    Ability to work collaboratively with cross-functional teams.

    <br><br>
    <h5>Additional Attributes:</h5>

    Passion for cloud technologies and a proactive approach to learning.
    Strong drive to shape and optimize AWS infrastructure.

    <br><br>
    <h5>Ideal Candidate:</h5>

    Looking for a challenging opportunity in cloud engineering.
    Eager to work with cutting-edge cloud technologies in a collaborative environment.

    <br><br>
    <h5>How to Apply:</h5>
    Apply now to join ABC Solutions and make a significant impact in the AWS cloud engineering field.</p>
</div>
    {% endblock %}